{{> header}}

<div class="container">
  {{#each blogs}}
    <div>
      <h1>{{this.title}}</h1>
      <p>
        {{this.text}}
      </p>
      {{#if this.image}}
      <img src="img/{{this.image}}" width="280" height="280" />
      {{/if}}
      <form method="post" action="/blogs/delete">
        <input name="id" id="id" type="hidden" value="{{this._id}}" />
        <button type="submit">Delete</button>
      </form>
      <form method="get" action="/blogs/update">
        <input name="id" id="id" type="hidden" value="{{this._id}}" />
        <button type="submit">Update</button>
      </form>
      <hr />
    </div>
  {{/each}}
</div>

{{> footer}}
